@charset "UTF-8";


@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    font-family: rounded, sans-serif;
}

body {
    /* background-color: #2b3035; */
}

html {
    background: #223;
}

.plx-card {
    transition: all 600ms ease;
    max-width: 97%;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    filter: drop-shadow(0 2px 1rem #112);
    border-radius: 4px;
}

@media screen and (min-width: 700px) {
    .plx-card.gold {
        height: 280px;
        margin: 30px auto;
    }
}

@media screen and (max-width: 700px) {
    .plx-card {
        height: auto;
        width: auto;
        flex-direction: column;
        border-radius: 2px;
        margin: 30px auto;
    }
}

.pxc-avatar {
    transition: all 600ms ease;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 170px;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    position: relative;
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.circle-1,
.circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 158px;
    height: 158px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #cf1c94 #da1818 #7e0ebe transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}

.circle-2 {
    width: 158px;
    height: 158px;
    top: -6px;
    left: -6px;
    border-color: #7e0ebe transparent #da1818 #cf1c94;
}

.image img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #f5e8df;
}

.image:hover {
    cursor: pointer;
}

.image:hover .circle-1,
.image:hover .circle-2 {
    transform: rotate(360deg);
}

.image:hover .circle-2 {
    transform: rotate(-360deg);
}

@media screen and (max-width: 700px) {
    .pxc-avatar {
        width: 100%;
        height: 100px;
        justify-content: space-around;
        align-items: center;
    }
}

.pxc-bg {
    transition: all 600ms ease;
    border-radius: 2px;
    height: 100%;
    width: calc(100% - 75px);
    position: absolute;
    z-index: 0;
    pointer-events: none;
    left: 75px;
    background-size: cover;
    background-position: right;
    background-color: #2b2b95;
}

@media screen and (max-width: 900px) {
    .pxc-bg {
        left: 50px;
    }
}

@media screen and (max-width: 700px) {
    .pxc-bg {
        left: 0;
        top: 0;
        height: 200px;
        width: 100%;
        border-radius: 0;
    }
}

.pxc-subcard {
    transition: all 600ms ease;
    border-radius: 3px;
    background: #1D1D2B;
    width: 750px;
    margin: 25px 200px 25px -25px;
    z-index: 0;
    padding: 15px 25px 15px 35px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.3);
}

@media screen and (max-width: 900px) {
    .pxc-subcard {
        margin-right: 120px;
        margin-left: -32px;
    }
}

@media screen and (max-width: 700px) {
    .pxc-subcard {
        margin: 25px 15px 30px 15px;
        padding: 60px 25px 20px;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
}

.content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
}

.pxc-stopper {
    transition: all 600ms ease;
    height: 100%;
    width: calc(60%);
    background: #FFF8;
    display: block;
    position: absolute;
    z-index: 0;
    left: 75px;
}

@media screen and (max-width: 900px) {
    .pxc-stopper {
        left: 50px;
    }
}

@media screen and (max-width: 700px) {
    .pxc-stopper {
        left: 0;
        width: 100%;
        top: 200px;
        height: calc(100% - 200px);
        background: white;
        border-radius: 0;
    }
}

.pxc-tags {
    position: absolute;
    bottom: -15px;
    height: 40px;
    overflow: hidden;
    text-align: right;

}

@media screen and (max-width: 700px) {
    .pxc-tags {
        height: 64px;
        text-align: center;
        position: relative;
        width: 100%;
        bottom: -15px;
        left: 0;
        margin-bottom: 10px;
    }
}

.pxc-title {
    font-size: 24px;
    height: 40px;
    margin-bottom: 4px;
    color: white;
    width: calc(100% - 50px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .pxc-title {
        font-size: 30px;
        text-align: center;
        white-space: initial;
        overflow: initial;
        text-overflow: initial;
    }
}

.pxc-sub {
    font-size: 14px;
    margin: 2px 0 8px 0;
    flex: 1 1 auto;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(black 80%, transparent 100%);
    color: #a6aad1;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .pxc-sub {
        font-size: 13px;
    }
}

.pxc-feats {
    font-size: 13px;
    color: #5f5f80;
    flex: 1 1 auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 1.3;
    overflow: auto;
    width: 100%;
    height: 30%;
    max-width: 400px;
    max-height: 80px;
    word-wrap: break-word;
}

.pxc-feats::-webkit-scrollbar {
    scrollbar-width: none;
}

@media screen and (max-width: 700px) {
    .pxc-feats {
        font-size: 12px;
        margin-top: 10px;
        text-align: center;
    }
}

.pxc-feats span:not(:first-child):before {
    content: " • ";
    margin: 3px;
}

.bottom-row {
    flex: 0 1 auto;
    margin-top: 10px;
    display: flex;
    justify-items: space-around;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .bottom-row {
        border-top: solid 1px rgba(255, 255, 255, 0.05);
        padding-top: 5px;
    }
}

.bottom-row .pxc-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .bottom-row .pxc-info {
        position: absolute;
        bottom: -28px;
        left: -10px;
        justify-content: space-between;
        width: 100%;
    }

    .bottom-row .pxc-info .region {
        color: #112;
        font-size: 13px;
        text-transform: uppercase;
    }
}

.bottom-row .flags {
    overflow: hidden;
    height: 23px;
}

.bottom-row .flags span {
    text-align: center;
    margin: 2px 6px;
    background: white;
    border-radius: 3px;
    width: 24px;
    height: 16px;
    display: inline-block;
}

.bottom-row .region {
    color: white;
    margin-left: 8px;
}

.pxc-tags button {
    position: relative;
    top: -7px;
    width: 90px;
    text-decoration: none;
    font-family: 'Inter';
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    margin: 0.75rem 0.5rem;
    border: 1px solid white;
    background: #112;
    color: white;
}

.pxc-tags button:hover {
    border: 1px solid #f3f3f3;
    background: white;
    color: #112;
}

.stats {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.stats .box {
    width: 100px;
    height: 90px;
    background: rgb(240, 240, 240);
    text-align: center;
    padding-top: 20px;
    margin: 5px 0;
    transition: all 0.4s ease-in-out;
}

.stats .box:hover {
    background: #a287b8;
    cursor: pointer;
}

.stats span {
    display: block;
    line-height: 22px;
}

.stats .value {
    font-size: 24px;
    font-weight: 600;
}

.stats .parameter {
    font-size: 18px;
}

/* navbar1 */
.lineheader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.linecontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 40px;
    border-bottom: 2px solid rgb(49, 20, 9);
}

.line a {
    text-decoration: none;
    padding-bottom: 2px;
    margin-right: 50px;
    color: rgb(34, 10, 1);
    font-weight: 550;
    position: relative;
    cursor: pointer;
}

.line a::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    height: 2px;
    width: 0%;
    background: rgb(34, 10, 1);
    transition: all ease 0.4s;
}

.line a:hover::before {
    width: 100%;
}

/* 貼文區2 */

.row {
    width: 100%;
    min-height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imageForPost {
    position: relative;
    width: 32.8%;
    height: 420px;
    margin: 3px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
}

.imageForPost img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.6s opacity;
    opacity: 0.9;
    border: 1px solid #e4dbdb;
}

.imageForPost:hover img {
    opacity: 1;
}

.imageForPost .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;

}

.imageForPost .details h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}

.imageForPost .details h2 span {
    font-weight: 900;
}

.imageForPost:hover .details h2 {
    transform: translateY(-30px);
}

.imageForPost .details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.imageForPost:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
}

.more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.imageForPost:hover .more {
    bottom: 0;
}

.more .read-more {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.more .read-more span {
    font-weight: 900;
}

.more .icon-links i {
    color: #000;
    font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
    margin-right: 20px;
}

/* Responsive CSS */
@media (max-width: 1440px) {
    .imageForPost {
        width: 32.8%;
        /* 調整響應式佈局 */
        height: 330px;
        margin: 3px auto;
        /* 確保左右邊界一致 */
    }
}

@media (max-width: 1080px) {
    .imageForPost {
        width: 100%;
        /* 調整響應式佈局 */
        height: 800px;
        margin: 10px auto;
        /* 確保左右邊界一致 */
    }
}

@media (max-width: 600px) {
    .imageForPost {
        width: 100%;
        /* 視窗縮小後顯示1個卡片，並留出左右邊距 */
        height: 450px;
        margin: 10px auto;
        /* 確保左右邊界一致 */
    }
}

@media (max-width: 400px) {
    .imageForPost .details p {
        font-size: 16px;
    }

    .more .read-more,
    .more .icon-links a i {
        font-size: 18px;
    }
}


/* 圖片上傳 */
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 1px;
    z-index: 1;
    bottom: 5px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #5c5d86;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label font-awesome-icon {
    font-size: 16px;
    /* 調整圖標大小 */
    color: white;
    /* 設置圖標顏色 */
}

/*按鈕無互動*/
.no-click {
    pointer-events: none;
}


/* 給追蹤視窗 */
.follow-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.follow-modal-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 22%;
    max-width: 500px;
    padding: 20px 0px 0px 0px;
    position: relative;
}

.follow-modal-content img {
    border: 1px solid rgb(245, 243, 243);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.follow-linecontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(141, 140, 140);
}

.follow-modal .username {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.follow-modal-operator {
    width: 100%;
    margin: 0;
    padding: 0;
}

.follow-modal-operator p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.follow-modal-operator p:hover {
    background-color: #f0f0f0;
}

.follow-modal-operator .icon {
    margin-left: 10px;
}

/* 添加新的样式来支持显示商品 */
.shop-card {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    max-width: 100%;
}

.product-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 0px;
    width: 31.7%;
    height: 420px;
    overflow: hidden;

}

.product-card img {
    width: 100%;
    height: 270px;
    max-height: auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    object-fit: cover;
}

.product-details {
    margin: 0px 15px;
}

.product-details h4 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.product-details p {
    height: 45px;
    margin: 5px 0;
    border-bottom: 1px solid rgb(141, 140, 140);
}

.product-details .price {
    font-size: 16px;
    font-weight: bold;
    color: #f39c12;

}

.product-buy {
    font-size: 18px;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-cart {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.product-cart:hover {
    background-color: black;
    color: white;
}